# Created by .ignore support plugin (hsz.mobi)

### maven  ###
target/
*.releaseBackup

### gradle ###
gradle
gradlew
gradlew.bat

### java ###
classes/
*.class
*.war
*.ear

###  ide ###
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
.apt_generated
.factorypath
.springBeans

### idea ###
.idea
*.iml
*.ipr
*.iws

### eclipse ###
*.pydevproject
.project
.cproject
.metadata
.buildpath
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
.externalToolBuilders/

### NetBeans ###
nbproject/private/
build/
nbbuild/
#dist/
nbdist/
.nb-gradle/
ticket-static/.sass-cache/

### 日志 ###
/stacktrace.log
/test/reports
/logs
*.log
*.log.*
applogo/

### windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

## mac os x
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

