<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oc.mapper.team.TeamSkillMapper" >
  <resultMap id="BaseResultMap" type="com.oc.domain.team.TeamSkill" >
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
    <result column="team_code" property="teamCode" jdbcType="INTEGER" />
    <result column="skill_code" property="skillCode" jdbcType="INTEGER" />
    <result column="skill_name" property="skillName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="obtainTeamSkill" resultMap="BaseResultMap">
    SELECT
		a.tenant_code,
		a.team_code,
		a.skill_code,
		a.skill_name,
		DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') create_time
	FROM
		oc_team_skill a
	WHERE
		a.tenant_code = #{tenantCode,jdbcType=VARCHAR}
	AND a.skill_code = #{skillCode,jdbcType=INTEGER}
	AND a.flag = '1'
  </select>
  
</mapper>